<!doctype html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"  content="width=device-width, initial-scale=1">
	
	<title>Document</title>
	
	<link rel="stylesheet" href="style/normalize.min.css">
	<link rel="stylesheet" href="style/slick.css">
	<link rel="stylesheet" href="style/jquery.fancybox.min.css">
    <link rel="stylesheet" href="style/jquery-ui.css">
    <link rel="stylesheet" href="style/easy-responsive-tabs.css">
	<link rel="stylesheet" href="style/main.css">
</head>
<body>
	
	<!-- No script warning -->
    <noscript>
        <div id="noScriptWarning">
            К сожалению, ваш браузер <strong>не поддерживает</strong> JavaScript.
            Пожалуйста, <a href="http://browsehappy.com/" target="_blank" rel="nofollow">обновите</a> ваш браузер или включите поддержку JavaScript для корректного отображения страницы.
        </div>
    </noscript>

    <!-- Outdated browser warning -->
    <!--[if lte IE 10]>
        <div id="outdatedBrowserWarning">
            Вы используете <strong>устаревший</strong> браузер. Пожалуйста,
            <a href="http://browsehappy.com/" target="_blank" rel="nofollow">обновите</a> ваш браузер
            для корректного отображения страницы.
        </div>
    <![endif]-->