<div class="tabs-search">
    <ul class="resp-tabs-list tabs_1">
        <li>Поиск по авто</li>
		<li>Поиск по шинам</li>
		<li>Поиск по дискам</li>
		<li>Поиск по грузовым шинам</li>
		<li>Поиск по спецшинам</li>
		<li>Поиск по мотошинам</li>
		<li class="has-tabs-link"><a href="calculator.php">Шинный калькулятор</a></li>
    </ul>
    <div class="resp-tabs-container tabs_1">
       <div>
			<form action="#" class="box-inner-1 table">
				<div class="table-cell">
					<div class="size size-1">
						<select name="" id="">
							<option value="">Производитель</option>
							<option value="">Производитель</option>
							<option value="">Производитель</option>
						</select>
					</div>
					<div class="size size-1">
						<select name="" id="">
							<option value="">Модель</option>
							<option value="">Модель</option>
							<option value="">Модель</option>
						</select>
					</div>
					<div class="size size-1">
						<select name="" id="">
							<option value="">Год</option>
							<option value="">Год</option>
							<option value="">Год</option>
						</select>
					</div>
					<div class="size size-1">
						<select name="" id="">
							<option value="">Двигатель</option>
							<option value="">Двигатель</option>
							<option value="">Двигатель</option>
						</select>
					</div>
					<div class="size size-1">
						<!-- <input type="submit" class="btn" value="Показать"> -->
						<a href="search-result.php" class="btn">Показать</a>
					</div>
				</div>
			</form>
		</div>
		<div>
			<form action="#" class="box-inner-2 table">
				<div class="table-cell">
					<div class="tabs-block-select left">
						<div class="box-row clearfix">
							<div class="size size-2">
								<select name="" id="">
									<option value="">Ширина</option>
									<option value="">Ширина</option>
									<option value="">Ширина</option>
								</select>
							</div>
							<div class="size size-2">
								<select name="" id="">
									<option value="">Высота</option>
									<option value="">Высота</option>
									<option value="">Высота</option>
								</select>
							</div>
							<div class="size size-2">
								<select name="" id="">
									<option value="">Диаметр</option>
									<option value="">Диаметр</option>
									<option value="">Диаметр</option>
								</select>
							</div>
							<div class="size hint-popup">
								<a href="#" rel="tooltip" title="Как узнать параметры шины" data-fancybox data-src="#search-popup" class="hint-popup-inner">?</a>
							</div>
						</div>
						<div class="box-row clearfix">
							<div class="size size-2">
								<select name="" id="">
									<option value="">Сезон</option>
									<option value="">Сезон</option>
									<option value="">Сезон</option>
								</select>
							</div>
							<div class="size size-2">
								<select name="" id="">
									<option value="">Производитель</option>
									<option value="">Производитель</option>
									<option value="">Производитель</option>
								</select>
							</div>
							<div class="size size-2">
								<div class="box-center">
									<div class="has-input">
										<input type="checkbox" id="search-input-1">
										<label for="search-input-1">
											<span class="input-style"></span>
											<span class="input-text">Легкогрузовая</span>
										</label>	
									</div>
									<div class="has-input">
										<input type="checkbox" id="search-input-2">
										<label for="search-input-2">
											<span class="input-style"></span>
											<span class="input-text">Распродажа</span>
										</label>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs-block-action left clearfix">
						<div class="tabs-block-action-price left">
							<div class="box-row">
								<div class="price-slider-text">Цена за 1 шт</div>
								<div class="price-slider">
									<div id="slider"></div>
								</div>
							</div>
							<div class="box-row">
								<div class="price-slider-input">
									<div class="price-slider-input-item">
										<div class="aligner">от</div>
										<div class="aligner"><input type="text" id="filterPrice1"></div>
									</div>
									<div class="price-slider-input-item">
										<div class="aligner">до</div>
										<div class="aligner"><input type="text" id="filterPrice2"></div>
										<div class="aligner">руб.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tabs-block-action-btn left">
							<div class="box-row">
								<!-- <input type="submit" class="btn" value="Показать"> -->
								<a href="search-result.php" class="btn">Показать</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					
				</div>
			</div>
		</div>
    </div>
</div><!-- /.tabs-search -->

 <div class="mobile-link"><a href="calculator.php">Шинный калькулятор</a></div>